@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Akshar', sans-serif; }

html {
  font-size: 62.5%; }

/************************ Home Page******************/
.bg-light {
  background: rgba(82, 66, 66, 0.534) !important; }

.carousel-item {
  height: 100vh;
  min-height: 300px; }
  .carousel-item .w-100 {
    height: 100vh;
    object-fit: cover; }

.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .carousel-caption h1 {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold; }
  .carousel-caption h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold; }
  .carousel-caption h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold; }

/************************ CAPTION CAROUSEL POSTALES******************/
.captionPostal {
  margin-top: 3rem;
  text-align: center; }
  .captionPostal h4 {
    text-transform: uppercase;
    font-size: 25px; }

.navbar-brand {
  padding-left: 2rem;
  color: #fff;
  font-family: "Bad Script", cursive;
  font-size: 40px;
  font-weight: bold; }
  .navbar-brand:hover {
    transition: 0.5s;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite; }

.collapse {
  display: flex;
  justify-content: flex-end; }

.nav-item {
  padding: 5px 8px; }

.nav-link {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold; }
  .nav-link:hover {
    transition: 0.5s;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite; }

.dropdown-menu {
  background: #8d8686;
  border-radius: 0; }
  .dropdown-menu li a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase; }
    .dropdown-menu li a:hover {
      background: transparent; }

/******************************* INSIDE NAV ************************/
.insideBar {
  background: #524242;
  align-items: center;
  margin-bottom: 5%; }
  .insideBar:hover {
    background: #524242;
    transition: 1s; }

.offcanvas {
  background: #524242; }

/* *********************** Footer *************************/
footer {
  background: #524242;
  height: 60vh;
  padding: 3rem;
  margin-top: 10rem;
  font-size: 1.5rem;
  color: #fff;
  display: grid;
  grid-template-areas: "informacion links" "informacion links" "copyright copyright";
  gap: 5rem; }

.informacion {
  margin-left: 5rem;
  grid-area: informacion;
  text-transform: uppercase; }
  .informacion h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem; }
  .informacion ul {
    margin-top: 3rem;
    list-style: none; }
    .informacion ul li {
      margin-top: 1.5rem; }
      .informacion ul li a {
        text-decoration: none;
        color: #fff; }
        .informacion ul li a:hover {
          color: #d39ca1;
          transition: 0.5s; }
      .informacion ul li i {
        margin-right: 1.5rem;
        font-size: 2rem; }

.links {
  grid-area: links;
  text-transform: uppercase; }
  .links h3 {
    margin-left: 10rem;
    margin-bottom: 2rem;
    font-size: 2.5rem; }
  .links p {
    margin-left: 10rem; }
  .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
    .links ul li {
      text-align: center;
      margin: 2rem; }
      .links ul li a {
        text-decoration: none;
        color: #fff; }
      .links ul li i {
        margin-right: 4rem;
        font-size: 4rem; }
        .links ul li i:hover {
          color: #d39ca1; }
      .links ul li img {
        height: auto;
        width: auto;
        max-width: 150px;
        max-height: 150px; }

#copyright {
  margin-top: -2rem;
  grid-area: copyright;
  text-align: center; }

.v-line {
  border-left: 1px solid #fff;
  height: 25rem;
  left: 50%;
  position: absolute; }

/***************************** Home Page Trekking *********************¨*/
.text-center {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin: 5% 0 5% 0;
  letter-spacing: 1px; }

.text-infoBlog {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5% 0 5% 0;
  letter-spacing: 1px; }

.activity {
  position: relative; }
  .activity img {
    position: relative; }
    .activity img:hover ~ p {
      transition: 0.5s;
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
      animation: shine 2s forwards, flicker 3s infinite; }
  .activity p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    font-family: "Aboreto", cursive;
    color: #fff; }

.d-flex {
  justify-content: space-evenly; }

.flexSpace {
  justify-content: center; }

.h-line {
  margin: 10% auto 10% auto;
  border-color: transparent;
  background: rgba(128, 128, 128, 0.664);
  width: 40%;
  height: 2px; }

/* *********************** Other Section ***************/
.blogSection {
  width: 100%;
  height: 50vh;
  position: relative; }

.blogIndex {
  width: 30vw;
  height: 50vh;
  object-fit: cover;
  filter: sepia(60%); }
  .blogIndex:hover {
    filter: sepia(0%);
    transition: 1s; }

.casasBlog {
  width: 15vw;
  height: 25vh;
  object-fit: cover;
  filter: sepia(60%); }

.blogPage {
  width: 25vw;
  height: 75vh;
  object-fit: cover;
  filter: sepia(60%); }
  .blogPage:hover {
    filter: sepia(0%);
    transition: 1s; }

.blogP-Dos {
  width: 25vw;
  height: 75vh;
  object-fit: cover;
  filter: sepia(60%); }
  .blogP-Dos:hover {
    filter: sepia(0%);
    transition: 1s; }

.margin-bCasas {
  padding: 5%; }

.razones {
  position: relative; }
  .razones p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Aboreto", cursive;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center; }

.cardPage {
  position: relative;
  margin-bottom: 70px; }
  .cardPage p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Aboreto", cursive;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center; }
  .cardPage .textPromo {
    position: relative;
    font-family: "Akshar", sans-serif;
    color: #000;
    font-size: 15px;
    display: flex;
    justify-content: center; }

.montañaDiv p {
  color: #fff;
  transition: 1s; }

/******************************** TREKKING ****************/
.row {
  margin: 5% 0 5% 0; }

.rowBlog, .tituloReserva, .imgReserva {
  margin: 0; }

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%; }

.cuadroColor {
  position: relative;
  margin: 5%;
  height: 50vh;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #ff70aa 100%); }
  .cuadroColor h2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center; }

.c-colorDos {
  position: relative;
  margin: 5%;
  height: 50vh;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 5%, #11b19a 24%, #000000 100%); }
  .c-colorDos h2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-align: center; }

.cuadroImg {
  padding: 5%;
  position: relative; }
  .cuadroImg .zic-zac {
    width: 100%;
    height: 50vh;
    object-fit: cover; }
  .cuadroImg h2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center; }

.leftBlog {
  padding-left: 5%; }

.imgSin {
  padding-right: 0; }

.featurette-heading {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5%;
  text-decoration: underline; }

.lead {
  font-size: 2rem;
  text-align: justify; }

.btn-outline-danger {
  margin-top: 4rem; }

/************************* BLOG ********************/
.cuadroImg {
  position: relative; }
  .cuadroImg h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
  .cuadroImg .imgRazones {
    position: relative; }

.postalesW {
  height: 500px;
  object-fit: contain; }

.col-md-6 ul {
  margin-top: 2rem; }
  .col-md-6 ul li {
    list-style: none;
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 20px; }
    .col-md-6 ul li i {
      margin-right: 1.5rem; }

*, *:after, *:before {
  box-sizing: border-box; }

.encabezadoB {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .encabezadoB h1 {
    text-align: center;
    margin-bottom: -2%;
    text-transform: uppercase;
    color: rgba(177, 174, 174, 0.815);
    font-size: calc(1em + 10vw);
    font-weight: 900;
    text-shadow: -0.0075em 0.0075em 0 #f2f1f2, 0.005em 0.005em 0 #a8a2a9, 0.01em 0.01em 0 #aca6ad, 0.015em 0.015em #b1abb1, 0.02em 0.02em 0 #b5b0b6, 0.025em 0.025em 0 #b9b4ba, 0.03em 0.03em 0 #beb9be, 0.035em 0.035em 0 #c2bec3; }
  .encabezadoB .dosH1 {
    font-size: calc(1em + 7vw); }
  .encabezadoB h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 10%; }

/******************************** CASAS ****************/
.casasImg {
  height: 500px;
  object-fit: contain; }

.carousel-dark {
  margin: 5% auto 0 auto; }

.textoCasa {
  font-size: 2rem;
  text-align: justify; }

/******* Cuadro Servicios ********/
.servicesContent {
  display: flex; }

.services {
  margin: 0 5rem 5rem 10rem;
  border: 1px #000 solid;
  width: 50%; }
  .services p {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 1rem 5.5rem; }

.servicesList {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  .servicesList li {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem; }
    .servicesList li i {
      margin: 1rem; }

.capacidad {
  margin: 0 5rem 5rem 5rem;
  height: 20rem;
  width: 30%; }
  .capacidad ul {
    list-style: none;
    margin: 2rem; }
    .capacidad ul li {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
      .capacidad ul li i {
        font-size: 2rem;
        margin-right: 2rem; }

.linea-h {
  width: 50%;
  height: 1px;
  border: transparent;
  background: rgba(128, 128, 128, 0.418);
  margin: 5% 0 5% 0; }

/************************* CÓMO LLEGAR ********************/
.container h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 5% 0 5% 0; }
  .container h3 i {
    margin-left: 5rem; }

.imgCon {
  display: flex;
  justify-content: center; }
  .imgCon img {
    margin-top: 5%; }

.ubication {
  display: flex;
  justify-content: center;
  margin-top: 5%; }

/*************************** PROMO BLOG ****************************/
.cards {
  scrollbar-gutter: always;
  padding: 3rem 0 3rem 2rem;
  margin: 0;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; }

.card {
  background: #fff;
  display: inline-block;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1; }
  .card .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 75%; }
  .card .card__image {
    object-fit: cover; }
  .card .card-title {
    background: #fff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0; }
    .card .card-title a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px; }
    .card .card-title h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0; }
    .card .card-title small {
      display: block;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.025em; }
  .card div.card-flap {
    background: #fff;
    transform: rotateX(0deg); }
  .card div.flap1 {
    transition: all 0.3s 0s ease-out; }
  .card div.flap2 {
    transition: all 0.3s 0.2s ease-out; }

/************************* RESERVA ********************/
.tituloReserva {
  text-transform: uppercase;
  font-size: 2.4em;
  font-weight: bold;
  color: #fff;
  width: auto;
  letter-spacing: 5px;
  text-align: center;
  padding: 4.5rem; }

.imgReserva {
  background: url(../../img/panoTres.jpg);
  background-size: cover;
  height: 18vh; }

.cuadro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75.8vh;
  background: rgba(128, 128, 128, 0.76); }

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: black;
  color: #fff; }
  .steps p {
    font-size: 1.5rem; }

form {
  width: 80%;
  height: 40rem;
  background: #fff; }

.reserva {
  display: flex;
  flex-direction: column; }

.input-group-text {
  background: none;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase; }

.box {
  width: 76%;
  border: rgba(128, 128, 128, 0.568) 1px solid; }

.btn-dark {
  width: 100%;
  height: 10%;
  text-transform: uppercase; }

.form-content {
  width: fit-content;
  height: 100%;
  margin: 5%; }

.form-control {
  border-radius: 0;
  height: 100%; }

.col {
  margin-right: 5px; }

select {
  border-radius: none; }

option {
  text-transform: uppercase;
  font-size: 1.5rem; }

/************************* BTN pages ********************/
.container-btn p {
  margin: 7% 0 0 0;
  font-size: 15px;
  display: flex;
  justify-content: center; }

.container-btn a {
  text-decoration: none; }

.btn {
  border-radius: 0%;
  font-size: 14px;
  font-weight: bold; }

@media (max-width: 770px) {
  /***************************** Home Page*********************¨*/
  .w-100 {
    object-fit: cover; }
  .carousel-caption {
    width: 100%; }
    .carousel-caption h1 {
      font-size: 50px; }
    .carousel-caption h2 {
      font-size: 20px; }
    .carousel-caption h3 {
      font-size: 15px; }
  .navbar-brand {
    font-size: 30px; }
  /***************************** Home Page Mobile *********************¨*/
  .text-center {
    font-size: 25px; }
  .marginMobile {
    padding: 10%; }
  .activity {
    margin: 5% 0 5% 0; }
    .activity p {
      font-size: 14px; }
  /* *********************** Other Section ***************/
  .blogIndex {
    width: 300px;
    height: 30vh; }
  .razones p {
    font-size: 14px; }
  .section {
    margin-bottom: 200px; }
  .flex-wrap {
    margin-bottom: 100px; }
  /* *********************** Footer *************************/
  .v-line {
    display: none; }
  footer {
    height: auto;
    display: flex;
    flex-direction: column; }
  .informacion {
    margin-left: 0; }
  .links ul li {
    margin: 0; }
  .links h3 {
    margin: 0; }
  .links p {
    margin: 0; }
  /******************************** TREKKING ****************/
  .featurette-heading {
    margin: 15% 0 15% 0;
    font-size: 2.2rem; }
  /************** Casas Media **************/
  .servicesContent {
    flex-direction: column;
    width: 100%;
    margin: auto; }
  .services {
    width: 100%;
    margin: 0; }
  .capacidad {
    width: 100%;
    margin: 0; }
  linea-h {
    display: none; }
  /************************* CÓMO LLEGAR ********************/
  .container h3 {
    font-size: 2rem;
    margin: 10% 0 10% 0; }
  /************************* Reserva Media ********************/
  .cuadro {
    height: 85vh; }
  form {
    height: 70vh; }
  .steps {
    text-align: center; }
  .cardBlog {
    flex-direction: column; }
    .cardBlog .cardPage {
      width: 100%; }
    .cardBlog .blogPage {
      width: 100vw;
      height: 75vh;
      object-fit: cover;
      padding: 0 10% 0 10%; }
  /************************* PROMO BLOG ********************/
  .casasBlog {
    width: 100%;
    height: 30vh; } }

.cards .card {
  width: 100%; }

.encabezadoB h2 {
  text-align: center; }
