*{
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

html {
    font-size: 62.5%;

}

/************************ Home Page ******************/

header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/Inicio.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar-brand{
    color: #fff;
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    font-weight: bold;
}
        
.navbar-brand:hover{
    transition: 1s;
    background: linear-gradient(
          to right, 
          hsl(5 70% 70%),  
          hsl(4 100% 95%)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }

.collapse{
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    padding: 5px 8px;
}

.nav-link{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover{
    transition: 1s;
    background: linear-gradient(
          to right, 
          hsl(5 70% 70%),  
          hsl(4 100% 95%)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
}

.text-box h2{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.text-box h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

/***************************** Home Page Scroll *********************¨*/
.text-center{
    text-transform: uppercase;
    margin: 5% 0 5% 0;
    font-size: 30px;
}

.activity img{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    position: relative;
}

.activity .imgTrekking{
    height: auto;
    width: auto;
    max-width: 530px;
    max-height: 530px;
    position: relative;
}

.d-flex{
    justify-content: space-evenly;
}

.h-line{
    margin: 10% auto 10% auto;
    border-color: transparent;
    background: rgba(128, 128, 128, 0.664);
    width: 40%;
    height: 2px;
}


/* *********************** Footer ***************/
footer{
    background: rgb(82, 66, 66);
    height: 60vh;
    padding: 3rem;
    margin-top: 10rem;
    font-size: 1.5rem;
    color: #fff;
    display: grid;
    grid-template-areas:
        "informacion links"
        "informacion links"
        "copyright copyright";
    gap: 5rem;
}

.informacion {
    margin-left: 5rem;
    grid-area: informacion;
    text-transform: uppercase;
}

.informacion h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.informacion ul {
    margin-top: 3rem;
    list-style: none;
}

.informacion ul li {
    margin-top: 1.5rem;
}

.informacion ul li a {
    text-decoration: none;
    color: #fff;
    /* font-size: 14px; */
}

.informacion ul li a:hover {
    color: #d39ca1;
    transition: 0.5s;
}

.informacion ul li i {
    margin-right: 1.5rem;
    font-size: 2rem;
}

.links {
    grid-area: links;
    text-transform: uppercase;
}

.links h3 {
    margin-left: 10rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.links p{
    margin-left: 10rem;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul li {
    text-align: center;
    margin: 2rem;
}

.links ul li a {
    text-decoration: none;
    color: #fff;
}

.links ul li i {
    margin-right: 4rem;
    font-size: 4rem;
}

.links ul li i:hover {
    color: #d39ca1;
}

.links ul li img {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

#copyright {
    margin-top: -2rem;
    grid-area: copyright;
    text-align: center;
}

.v-line {
    border-left: 1px solid #fff;
    height: 25rem;
    left: 50%;
    position: absolute;
}

@media(max-width: 770px){
    .v-line{
        display: none;
    }
    footer{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .informacion{
        margin-left: 0;
    }
    .links ul li{
        margin: 0;
    }
    .links h3{
        margin: 0;
    }
    .links p{
        margin: 0;
    }
}

