*{
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

html {
    font-size: 62.5%;

}

/************************ Home Page ******************/

header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/Inicio.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav > a{
    text-decoration: none;
    color: #fff;
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    font-weight: bold;
}

nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links > ul > li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-links > ul > li a:hover{
    font-size: 20px;
    transition: 1s;
}

.ctn {
    border: 1px solid #fff;
    width: 55px;
}

.ctn:hover {
    width: 60px;
    background: rgba(0, 0, 0, 0.459);
    transition: 1s;
}

.sub-menu{
    display: none;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
}
.text-box h1{
    font-size: 80px;
}

.text-box h2 {
    font-size: 30px;
}

.text-box h3 {
    font-size: 25px;
}

nav .fa{
    display: none;
}
/************************ Home Page Media ****************/
@media(max-width: 770px){
    nav > a{
        font-size: 30px;
    }
    .text-box h1{
        font-size: 60px;
    }
    .text-box h2{
        font-size: 20px;
    }
    .text-box h3{
        font-size: 15px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        /* position: absolute; */
        background: rgb(82, 66, 66);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        visibility: hidden;
    } 
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

}

.section{
    width: 100%;
    text-align: center;
    padding-top: 100px;  
}

.h-line{
    margin-top: 10%;
    width: 50%;
    height: 2px;
    border: transparent;
    background: rgba(128, 128, 128, 0.418);
    margin: 10% auto 0 auto;
}

h2{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
}

.queHacer{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.activity{
    display: flex;
    flex-direction: column;
}

.activity img{
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    position: relative;
}

.activity .imgTrekking{
    height: auto;
    width: auto;
    max-width: 530px;
    max-height: 530px;
    position: relative;
}

.activity img:hover{
    transition: 1s;
    filter: blur(1.5px);
}

.activity p a{
    position: absolute;
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
 }

 .razones p:hover{
    color: black;
    transition: 1s;
 }

.activity a{
    margin-top: 2%;
    text-decoration: none;
    color: rgb(12, 12, 97);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}   

.activity{
    position: relative;
}


/************************** Section Media **********************/

@media(max-width: 770px){
    .queHacer{
        flex-direction: column;
        justify-content: center;
    }
    .section{
        width: 100%;
        margin: auto;
    }
    .activity img{
        width: 100%;
        max-width: 300px;
    }
}

/***************************** Header HTML Folder *****************/
.insideBar{
    width: 100%;
    height: 15%;
    background: rgba(82, 66, 66, 0.678);
}

.insideBar:hover{
    background: rgb(82, 66, 66);
    transition: 1s;
}

@media (max-width: 770px){
    
}

/***************************** trekking  *************************/
.parrafo {
    margin: 0rem 5rem 5rem 5rem;
    padding-top: 5%;
}

.parrafo h2 {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.parrafo p {
    margin: 2.5rem;
    text-align: justify;
    font-size: 2rem;
}

.sectionA {
    margin: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sectionA img {
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
    padding: 50px;
}

.sectionA h3 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.sectionA p {
    margin-right: 4rem;
    font-size: 2rem;
    text-align: justify;
}

.buttonBox {
    margin: 10rem 0 15rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonBox p {
    font-size: 1.5rem;
}

.button {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 20rem;
    height: 4rem;
}

.button:hover {
    background: #25377b;
    transition: 1s;
}

.button p a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 770px){
    .sectionA{
        width: 100%;
        margin: auto;
        flex-direction: column;
    }
    .sectionA img{
        width: 100%;
        max-width: 350px;
        padding: 0;
        justify-content: center;
    }
    .sectionA p{
        margin: 0;
    }
    .parrafo{
        width: 100%;
        margin: auto;
    }
}

 /* *********************** Other Section ***************/
 .blogSection{
    margin-top: 5rem;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
 }

 .blogSection img{
    width: 30vw;
    height: 50vh;
    object-fit: cover;
    filter: sepia(60%);
 }

 .blogSection img:hover{
    filter: sepia(0%);
    transition: 1s;
 }

 .razones{
    position: relative;
 }

 .razones p{
    position: absolute;
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #85B6B0;
 }

 .razones p:hover{
    color: black;
    transition: 1s;
 }

 .monta침aDiv{
    position: relative;
 }

 .monta침aDiv p{
    position: absolute;
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #85B6B0;
 }

 .monta침aDiv p:hover{
    color: #fff;
    transition: 1s;
 }

 .postalesDiv p:hover{
    color: black;
    transition: 1s;
 }
 
 .postalesDiv{
    position: relative;
 }

 .postalesDiv p{
    position: absolute;
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #85B6B0;
 }

/* *********************** Footer ***************/
footer{
    background: rgb(82, 66, 66);
    height: 30rem;
    padding: 3rem;
    margin-top: 10rem;
    font-size: 1.5rem;
    color: #fff;
    display: grid;
    grid-template-areas:
        "informacion links"
        "informacion links"
        "copyright copyright";
    gap: 5rem;
}

.informacion {
    margin-left: 5rem;
    grid-area: informacion;
    text-transform: uppercase;
}

.informacion h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.informacion ul {
    margin-top: 3rem;
    list-style: none;
}

.informacion ul li {
    margin-top: 1.5rem;
}

.informacion ul li a {
    text-decoration: none;
    color: #fff;
}

.informacion ul li a:hover {
    color: #d39ca1;
    transition: 0.5s;
}

.informacion ul li i {
    margin-right: 1.5rem;
    font-size: 2rem;
}

.links {
    grid-area: links;
    text-transform: uppercase;
}

.links h3 {
    margin-left: 10rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.links p{
    margin-left: 10rem;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul li {
    text-align: center;
    margin: 2rem;
}

.links ul li a {
    text-decoration: none;
    color: #fff;
}

.links ul li i {
    margin-right: 4rem;
    font-size: 4rem;
}

.links ul li i:hover {
    color: #d39ca1;
}

.links ul li img {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

#copyright {
    margin-top: -2rem;
    grid-area: copyright;
    text-align: center;
}

.v-line {
    border-left: 1px solid #fff;
    height: 25rem;
    left: 50%;
    position: absolute;
}

@media(max-width: 770px){
    .v-line{
        display: none;
    }
    footer{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .informacion{
        margin-left: 0;
    }
    .links ul li{
        margin: 0;
    }
    .links h3{
        margin: 0;
    }
    .links p{
        margin: 0;
    }
}

/************** c칩mo llegar ******************/
.ubication {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*************** ParrafoCasas *********/
.parrafoCasas {
    margin: 5% 10rem 10rem 10rem;
}

.parrafoCasas h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.parrafoCasas h3{
    font-size: 25px;
    margin-top: 10rem;
}

.parrafoCasas p {
    margin-top: 7rem;
    text-align: justify;
    font-size: 2rem;
}

.imgCon{
    margin-top: 2.5rem;
    width: 100%;
    text-align: center;
}

.imgCon img{
    width: auto;
    max-width: 800px;
}

/********************** ParrafoCasas media ***********/
@media (max-width: 770px){
    .parrafoCasas{
        margin: 0;
    }
    .parrafoCasas h2{
        font-size: 25px;
    }
}

.container {
    width: 100%;
    height: 100%;
}

.casas {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "uno dos tres"
        "cuatro cinco seis";
    gap: 2rem;
}

.casas img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.uno {
    height: 270px;
    width: 370px;
    object-fit: cover;
    grid: uno;
}


.dos {
    height: 270px;
    width: 370px;
    object-fit: cover;
    grid: dos;
}

.tres {
    height: 270px;
    width: 370px;
    object-fit: cover;
    grid: tres;
}

.cuatro {
    height: 270px;
    width: 370px;
    object-fit: cover;
    grid: cuatro;
}

.cinco {
    height: 270px;
    width: 370px;
    object-fit: cover;
    grid: cinco;
}

.seis {
    height: 270px;
    width: 370px;
    object-fit: contain;
    grid: seis;
}

/******* Cuadro Servicios ********/
.servicesContent {
    display: flex;
}

.services {
    margin: 6rem 5rem 5rem 10rem;
    border: 1px #111 solid;
    width: 50%;
}

.services p {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0 1rem 5.5rem;
}

.servicesList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.servicesList li {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem;
}

.servicesList li i {
    margin: 1rem;
}

.capacidad {
    margin: 4rem 5rem 5rem 5rem;
    height: 20rem;
    width: 30%;
}

.capacidad ul {
    list-style: none;
    margin: 2rem;
}

.capacidad ul li {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.capacidad ul li i {
    font-size: 2rem;
    margin-right: 2rem;
}

/************** Casas Media *******************/

@media (max-width: 770px){
    .casas{
        display: flex;
        flex-direction: column;
    }
    .casas img{
        width: 100%;
    }
    .servicesContent{
        flex-direction: column;
        width: 100%;
        margin: auto;
        }
    .services{
        width: 100%;
        margin: 0;
    }
    .capacidad{
        width: 100%;
        margin: 0;
    }
    hr{
        display: none;
    }
    }

    /************************ Blog ***************************/
    .titulo{
        text-align: center;
        font-size: 30px;
    }

    .principalContent {
        background-image: url(../img/Postal-2.jpg);
        width: 100%;
        height: 60rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .contentTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(128, 128, 128, 0.774);
        width: 50rem;
        height: 40rem;
    }
    
    .contentTwo h3 {
        font-size: 30px;
        text-align: center;
        margin: 1.5rem;
    }
    
    .contentTwo ul {
        list-style: none;
        margin: 3rem;
        list-style-position: inside;
        text-align: justify;
    }
    
    .contentTwo ul li {
        font-size: 20px;
    }
    
    .contentTwo ul li i {
        margin-right: 1.5rem;
    }
    
    .postales {
        margin: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .postales img {
        height: 270px;
        width: 370px;
        object-fit: cover;
    }

    .postales img:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    
    
    .textoImg {
        color: #fff;
        font-size: 5rem;
        font-weight: bolder;
        font-family: 'Aboreto', cursive;
        position: absolute;
    }
    
    .terapy {
        margin: 10rem 10rem 5rem 10rem;
        display: flex;
    }
    
    .terapy img {
        height: auto;
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    
    .beneficios {
        font-size: 2rem;
        text-align: justify;
        margin: 0 6rem 0 10rem;
    }
    
    .beneficios ul {
        margin-top: 1.5rem;
        list-style: none;
    }
    
    .beneficios ul li {
        margin-top: 2rem;
        text-align: start;
    }
    
    .beneficios ul li i {
        margin-right: 1.5rem;
    }

    @media (max-width: 770px){
        .textoImg{
            text-align: center;
            font-size: 35px;
        }
        .postales{
            margin: 0;
        }
        .postales img{
            width: 220px;
            height: 150px;
        }
        .terapy{
            flex-direction: column;
            margin: 0;
        }
        .terapy img{
            width: 100%;
        }
        .beneficios{
            margin: 0;
        }
    }

    /********************** RESERVA *********************/
.tituloReserva {
    padding-top: 6.5rem;
    font-size: 3rem;
    text-align: center;
}

.imgReserva {
    background-image: url(../img/Postal-5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15rem;
}

.cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77.2vh;
    background: gray;

}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: black;
    color: white;
}

.steps p {
    font-size: 1.5rem;
}

form {
    width: 80%;
    height: 40rem;
    background: #fff;
}

.reserva {
    display: flex;
    flex-direction: column;
}

.items {
    margin-top: 2rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.options {
    display: inline-block;
}

.box {
    margin-left: 3rem;
    border: 1px solid #111;
    width: 20rem;
    height: 3rem;
    font-style: italic;
}

.btn {
    margin: 2rem 0 0 3rem;
    background: black;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: 20rem;
    height: 4rem;
}

/************************* Reserva Media ********************/

@media (max-width: 770px){
    .cuadro{
        height: 85vh;
    }
    form{
        height: 70vh;
    }
    .box{
        width: 12rem;
    }

}