*{
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

html {
    font-size: 62.5%;

}

/************************ Home Page ******************/

header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/Inicio.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar-brand{
    color: #fff;
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    font-weight: bold;
}
        
.navbar-brand:hover{
    transition: 1s;
    background: linear-gradient(
          to right, 
          hsl(5 70% 70%),  
          hsl(4 100% 95%)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }

.collapse{
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    padding: 5px 8px;
}

.nav-link{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover{
    transition: 1s;
    background: linear-gradient(
          to right, 
          hsl(5 70% 70%),  
          hsl(4 100% 95%)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
}

.text-box h2{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.text-box h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

/***************************** Home Page Scroll *********************¨*/
.text-center{
    text-transform: uppercase;
    margin: 5% 0 5% 0;
    font-size: 30px;
}

.activity img{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}

.d-flex{
    justify-content: space-evenly;
}

.h-line{
    margin: 10%;
    border-color: transparent;
    background: rgba(128, 128, 128, 0.664);
    width: 40%;
    height: 2px;
}

