$color_1: #fff;
$color_2: #ffe6ff;
$color_3: #000;
$color_4: #d39ca1;
$color_footer: rgb(82, 66, 66);
$font-family_1: 'Akshar', sans-serif;
$font-family_2: 'Bad Script', cursive;
$font-family_3: 'Aboreto', cursive;
$border-color_1: transparent;

//MIXIN/
@mixin flex{
    display: flex;
	justify-content: center;
	align-items: center;
}

@mixin text ($size){
    text-transform: uppercase;
	font-size: $size;
	font-weight: bold;
}

@mixin img($ancho, $alto){
    width: $ancho;
	height: $alto;
	object-fit: cover;  
}

@mixin hover{
    transition: 0.5s;
	color: $color_2;
	text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	animation: shine 2s forwards, flicker 3s infinite;
}
@mixin textCenter{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

$blog:(blogPage, blogP-Dos);

// MAP GET
$styleText:(size: 2rem, align: center, margin360: 5% 0 5% 0, mgAlone: 5%);
