$color_1: #fff;
$color_2: #ffe6ff;
$color_3: #000;
$color_4: #d39ca1;
$font-family_1: 'Akshar', sans-serif;
$font-family_2: 'Bad Script', cursive;
$font-family_3: 'Aboreto', cursive;
$border-color_1: transparent;