/***************************** Home Page Trekking *********************¨*/
.text-center {
	@include text($size:30px);
	margin: 5% 0 5% 0;
	letter-spacing: 1px;
}
.text-infoBlog{
	@include text($size:20px);
	text-align: center;
	margin: 5% 0 5% 0;
	letter-spacing: 1px;
}
.activity {
	position: relative;
	img {
		&:hover~p {
			@include hover;
		}
		position: relative;
	}
	p {
		@include text($size:17px);
		position: absolute;
		font-family: $font-family_3;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color_1;
	}
}
.d-flex {
	justify-content: space-evenly;
}
.flexSpace{
	justify-content:center;
}
.h-line {
	margin: 10% auto 10% auto;
	border-color: $border-color_1;
	background: rgba(128, 128, 128, 0.664);
	width: 40%;
	height: 2px;
}

/* *********************** Other Section ***************/
.blogSection {
	width: 100%;
	height: 50vh;
	position: relative;
}
.cardBlog{
	width: 100%;
	position: relative;
}
.blogIndex {
	@include img($ancho:(30vw), $alto:(50vh));
	filter: sepia(60%);
	&:hover {
		filter: sepia(0%);
		transition: 1s;
	}
}
.blogPage{
	width: 25vw;
	height: 75vh;
	object-fit: cover;
}
.blogP-Dos{
	width: 25vw;
	height: 75vh;
	object-fit: cover;
}
.casasBlog{
	width: 15vw;
	height: 25vh;
	object-fit: cover;
}
.margin-bCasas{
	padding: 5%;
}
.razones {
	position: relative;
	p {
		position: absolute;
		font-family: $font-family_3;
		font-size: 20px;
		font-weight: bold;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color_3;
		text-align: center;
	}
}
.cardPage{
	position: relative;
	margin-bottom: 70px;
	p {
		position: absolute;
		font-family: 'Fredericka the Great', cursive;
		font-size: 30px;
		font-weight: bold;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color_1;
		text-align: center;
	}
	.textPromo{
		position: relative;
		font-family: $font-family_1;
		color: $color_3;
		font-size: 15px;
		display: flex;
		justify-content: center;

	}
}
.cuadroPromo{
	border: 1px solid #000;
}
.enlacePromo{
	margin: 20px 10px 0 10px;
}
.montañaDiv {
	p {
		color: $color_1;
		transition: 1s;
	}
}
