/***************************** Home Page Trekking *********************¨*/
.text-center {
	text-transform: uppercase;
	margin: 5% 0 5% 0;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
}
.activity {
	position: relative;
	img {
		&:hover~p {
			transition: 0.5s;
			color: $color_2;
			text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
			animation: shine 2s forwards, flicker 3s infinite;
		}
		position: relative;
	}
	p {
		position: absolute;
		font-family: $font-family_3;
		font-size: 17px;
		font-weight: bold;
        text-transform: uppercase;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color_1;
	}
}
.d-flex {
	justify-content: space-evenly;
}
.h-line {
	margin: 10% auto 10% auto;
	border-color: $border-color_1;
	background: rgba(128, 128, 128, 0.664);
	width: 40%;
	height: 2px;
}

/* *********************** Other Section ***************/
.blogSection {
	width: 100%;
	height: 50vh;
	position: relative;
}
.blogIndex {
	width: 30vw;
	height: 50vh;
	object-fit: cover;
	filter: sepia(60%);
	&:hover {
		filter: sepia(0%);
		transition: 1s;
	}
}
.razones {
	position: relative;
	p {
		position: absolute;
		font-family: $font-family_3;
		font-size: 20px;
		font-weight: bold;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color_3;
		text-align: center;
	}
}
.montañaDiv {
	p {
		color: $color_1;
		transition: 1s;
	}
}
