/***************************** Home Page Trekking *********************¨*/
.text-center {
	@include text($size: 30px);
	margin: map-get($styleText, margin360);
	letter-spacing: 1px;
}

.text-infoBlog {
	@include text($size: 20px);
	text-align: map-get($styleText, align);
	margin: map-get($styleText, margin360);
	letter-spacing: 1px;
}

.activity {
	position: relative;

	img {
		&:hover~p {
			@include hover;
		}

		position: relative;
	}

	p {
		@include textCenter;
		@include text($size: 17px);
		position: absolute;
		font-family: $font-family_3;
		color: $color_1;
	}
}

.d-flex {
	justify-content: space-evenly;
}

.flexSpace {
	justify-content: center;
}

.h-line {
	margin: 10% auto 10% auto;
	border-color: $border-color_1;
	background: rgba(128, 128, 128, 0.664);
	width: 40%;
	height: 2px;
}

/* *********************** Other Section ***************/
.blogSection {
	width: 100%;
	height: 50vh;
	position: relative;
}

.blogIndex {
	@include img($ancho: (30vw), $alto: (50vh));
	filter: sepia(60%);

	&:hover {
		filter: sepia(0%);
		transition: 1s;
	}
}

.casasBlog {
	@include img($ancho: (15vw), $alto: (25vh));
	filter: sepia(60%);
}

//TAJETAS BLOG
@each $blogvar in $blog {
	.#{$blogvar} {
		@include img($ancho: (25vw), $alto: (75vh));
		filter: sepia(60%);
		&:hover {
			filter: sepia(0%);
			transition: 1s;
		}
	}
}

.margin-bCasas {
	padding: map-get($styleText, mgAlone);
}

.razones {
	position: relative;

	p {
		@include textCenter;
		position: absolute;
		font-family: $font-family_3;
		font-size: 20px;
		font-weight: bold;
		color: $color_3;
		text-align: map-get($styleText, align);
	}
}

.cardPage {
	position: relative;
	margin-bottom: 70px;
	
	p {
		@include textCenter;
		position: absolute;
		font-family: $font-family_3;
		font-size: 20px;
		font-weight: bold;
		text-align: map-get($styleText, align);
		letter-spacing:0.1em;
  	-webkit-text-fill-color: transparent;
  	-webkit-text-stroke-width: 3px;
 	-webkit-text-stroke-color: white;
  		text-shadow: 
				5px 5px #17C5D5;
	}

	.textPromo {
		position: relative;
		font-family: $font-family_1;
		color: $color_3;
		font-size: 15px;
		display: flex;
		justify-content: center;
	}
}

.montañaDiv {
	p {
		color: $color_1;
		transition: 1s;
	}
}