/******************************** TREKKING ****************/
.row {
	margin: map-get($styleText, margin360);
}

.rowBlog {
	margin: 0;
}

.col-md-6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: map-get($styleText, mgAlone);
}

.cuadroColor {
	position: relative;
	margin: map-get($styleText, mgAlone);
	height: 50vh;
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #ff70aa 100%);

	h2 {
		@include textCenter;
		position: absolute;
		font-family: $font-family_3;
		font-size: 25px;
		font-weight: bold;
		text-align: map-get($styleText, align);
		letter-spacing:0.2em;
  	-webkit-text-fill-color: transparent;
  	-webkit-text-stroke-width: 3px;
 	-webkit-text-stroke-color: white;
  		text-shadow: 
				8px 8px #17C5D5;
	}

}

.c-colorDos {
	position: relative;
	margin: map-get($styleText, mgAlone);
	height: 50vh;
	background-color: #ffffff;
	background-image: linear-gradient(0deg, #ffffff 5%, #11b19a 24%, #000000 100%);

	h2 {
		@include textCenter;
		position: absolute;
		font-family: 'Fredericka the Great', cursive;
		font-size: 45px;
		font-weight: bold;
		color: $color_1;
		text-align: map-get($styleText, align);
	}

}

.cuadroImg {
	padding: map-get($styleText, mgAlone);
	position: relative;

	.zic-zac {
		@include img($ancho: (100%), $alto: (50vh));
	}

	h2 {
		@include textCenter;
		position: absolute;
		font-family: $font-family_3;
		font-size: 25px;
		font-weight: bold;
		text-align: map-get($styleText, align);
		letter-spacing:0.2em;
  	-webkit-text-fill-color: transparent;
  	-webkit-text-stroke-width: 3px;
 	-webkit-text-stroke-color: white;
  		text-shadow: 
				8px 8px #17C5D5;
	}
}

.leftBlog {
	padding-left: map-get($styleText, mgAlone);
}

.imgSin {
	padding-right: 0;
}

.featurette-heading {
	font-size: 2.5rem;
	text-align: map-get($styleText, align);
	text-transform: uppercase;
	margin-bottom: map-get($styleText, mgAlone);
	text-decoration: underline;
}

.lead {
	font-size: map-get($styleText, size);
	text-align: justify;
}

.btn-outline-danger {
	margin-top: 4rem;
}

/************************* BLOG ********************/
.cuadroImg {
	position: relative;

	h3 {
		@include textCenter;
		position: absolute;
	}

	.imgRazones {
		position: relative;
	}
}

.postalesW {
	height: 500px;
	object-fit: contain;
}

.col-md-6 {
	ul {
		margin-top: 2rem;

		li {
			list-style: none;
			margin-bottom: 1rem;
			text-align: justify;
			font-size: 20px;

			i {
				margin-right: 1.5rem;
			}
		}
	}
}

//ENCABEZADO BLOG
*, *:after, *:before {
	box-sizing: border-box;
}

.encabezadoB {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1 {
		text-align: center;
		margin-bottom: -2%;
		text-transform: uppercase;
		color: mix(rgba(177, 174, 174, 0.815), rgba(177, 174, 174, 0.815), 85%);
		font-size: calc(1em + 10vw) ;  
		font-weight: 900;
		text-shadow: 
			-0.0075em 0.0075em 0 mix(#fff, #251627, 94%),
			0.005em 0.005em 0 mix(#fff, #251627, 60%),
			0.01em 0.01em 0 mix(#fff, #251627, 62%), 
			0.015em 0.015em mix(#fff, #251627, 64%), 
			0.02em 0.02em 0 mix(#fff, #251627, 66%), 
			0.025em 0.025em 0 mix(#fff, #251627, 68%),
			0.03em 0.03em 0 mix(#fff, #251627, 70%),
			0.035em 0.035em 0 mix(#fff, #251627, 72%);
	}
	.dosH1{
		font-size: calc(1em + 7vw) ; 
	}
	h2{
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 5px;
		text-transform: uppercase;
		margin-bottom: 10%;
	}
}



	