/************************* RESERVA ********************/
.tituloReserva {
	@extend .rowBlog;
	@include text($size:2.4em);
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $color_2;
	text-shadow:
		3px 3px #000518;
	width: auto;
	letter-spacing: 5px;
	text-align:  map-get($styleText, align);
	padding: 4.5rem;
}
.imgReserva {
	background: url(../../img/Postal-5_39_11zon.webp);
	@extend .rowBlog;
	background-size: cover;
	background-position: bottom;
	height: 18vh;
}
.cuadro {
	@include flex;
	width: 100%;
	height: 75.8vh;
	background: rgba(128, 128, 128, 0.76);
}
.steps {
	@include flex;
	width: 100%;
	height: 4rem;
	background: black;
	color: $color_1;
	p {
		font-size: 1.5rem;
	}
}
form {
	width: 80%;
	height: 40rem;
	background: $color_1;
}
.reserva {
	display: flex;
	flex-direction: column;
}
.input-group-text {
	background: none;
	border: none;
	font-size: 1.5rem;
	text-transform: uppercase;
}
.box {
	width: 76%;
	border: rgba(128, 128, 128, 0.568) 1px solid;
}
.btn-dark {
	width: 100%;
	height: 10%;
	text-transform: uppercase;
}
.form-content {
	width: fit-content;
	height: 100%;
	margin: map-get($styleText, mgAlone);
}
.form-control {
	border-radius: 0;
	height: 100%;
}
.col {
	margin-right: 5px;
}
select {
	border-radius: none;
}
option {
	text-transform: uppercase;
	font-size: 1.5rem;
}

/************************* BTN pages ********************/
.container-btn p {
    margin: 7% 0 0 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.container-btn img{
	display: flex;
    justify-content: center;
}

.container-btn a {
    text-decoration: none;
}

.btn {
    border-radius: 0%;
    font-size: 14px;
    font-weight: bold;
}
